BODY {
    font-family: Helvetica, Arial, sans-serif;
}

.nav {
    font-weight: bold;
    font-size: 2.5em;
}

.nav-link { 
    color: #000000;
} /* CSS link color (black) */

.nav-link:hover {
    color: #00FF00;
} /* CSS link hover (green) */

.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.row {
    margin: auto;
    padding-left: 50px;
}

img {
    max-width: 70%;
    margin: auto;
    padding-left: 0px;
}

.about {
    font-weight:  bold;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
    min-width: 300px;
    font-size: 2em;
}

@media only screen and (max-width: 500px) {
    .container {
        max-width: 90%;
    }
}

.text {
    color: #ffffff;
    align-content: center;
}

.footer {
    margin: auto;
    width: 100%;
    text-align: center;
}

BODY {
    font-family: Helvetica, Arial, sans-serif;
    size: 1em;
    color: #000000;
    font-weight: 400;
}

.nav {
    font-weight: bold;
    font-size: 2.5em;
}

.nav-link { 
    color: #000000;
} /* CSS link color (black) */

.nav-link:hover {
    color: #00FF00;
} /* CSS link hover (green) */

#container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.row {
    margin: auto;
    padding-left: 50px;
}

#name {
    font-size: 3em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
}

.description {
    font-family: 'Helvetica', 'arial', 'sans-serif';
    size: 1em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.sectionheader {
    font-family: 'Helvetica', 'arial', 'sans-serif';
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
    min-width: 300px;
}

.jobtitle {
    font-family: 'Helvetica', 'arial', 'sans-serif';
    font-weight: 600;
    font-size: 1.5em;
}

.organization {
    font-weight: 400;
    font-size: 1.25em;
}

.date {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.ul {
    font-size: 1em;
}

.text {
    color: white;
}

#degrees {
    margin-top: 5px;
}

#do {
    margin-top: 5px;
    margin-bottom: 40px;
}

#title {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 90%;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

p {
    padding-top: 10px;
}

img {
    max-width: 70%;
    margin: auto;
    padding-left: 0px;
    margin-bottom: 25px;
}

.portfolio{
    font-weight:  bold;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
    min-width: 300px;
    font-size: 2em;
}

.other {
    font-weight:  bold;
    margin-top: 10px;
    min-width: 300px;
    font-size: 2em;
    padding-bottom: 10px;
}

ul {
    padding-top: 15px;
}

.reporting {
    font-weight: bold;
    font-size: 2em;
}

.social {
    font-weight: bold;
    font-size: 2em;
}