BODY {
    font-family: 'Open-Sans', arial, 'sans-serif';
    size: 1em;
    color: #444;
    font-weight: 400;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#name {
    font-size: 3em;
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

.description {
    font-family: 'Open-Sans', 'arial', 'sans-serif';
    size: 1em;
    color: #444;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
    min-width: 300px;
}

.jobtitle {
    font-weight: 600;
    font-size: 1.5em;
}

.organization {
    font-weight: 400;
    font-size: 1.25em;
}

.date {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.ul {
    font-size: 1em;
}

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline;
}

#degrees {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#do {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#title {
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.top {
    width: 60%;
    min-width: 300px;
    margin:0 auto;
    margin-bottom: 30px;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
}


